<footer id="footer">
  <div class="container" style="margin-top:20px; font-size:12px;">
      <p class="text-center text-muted" style="margin-bottom:2px;">
        <a href="{% url 'home:terms' %}" class="text-muted">Terms of Use</a>
        - <a href="{% url 'home:privacy' %}" class="text-muted">Privacy Policy</a>
        - <a href="{% url 'home:policies' %}" class="text-muted">GoNaturalistic Policies</a>
      </p>
      <p class="text-center text-muted" style="margin-bottom:2px;">
        <a href="{% url 'home:aboutus' %}" class="text-muted">About Us</a>
         - <a href="{% url 'home:contactus' %}" class="text-muted">Contact Us</a>
         - <a href="{#/sitemap.xml#}#" class="text-muted">Site Map</a>
      </p>
      <p class="text-center text-muted" style="margin-bottom:6px;">
        <a href="{% url 'home:helpcenter' %}" class="text-muted"><i class="fa fa-book fa-fw"></i>Help Center</a>
      </p>
      <p class="text-center text-muted" style="margin-bottom:8px;">
        <a href="https://www.facebook.com/pages/Gonaturalistic/503954943001990" class="text-muted" target="_blank"><i class="fa fa-lg fa-facebook fa-fw"></i></a>
        <a href="http://www.twitter.com/gonaturalistic/" target="_blank"><i class="text-muted fa fa-lg fa-twitter fa-fw"></i></a>
        <a href="https://plus.google.com/108650393875218456986"  class="text-muted" target="_blank"><i class="text-muted fa fa-lg fa-google-plus fa-fw"></i></a>
        <a href="https://www.linkedin.com/pub/gonaturalistic-inc/9a/24/a89/" class="text-muted" target="_blank"><i class="text-muted fa fa-lg fa-linkedin fa-fw"></i></a>
        <a href="http://www.pinterest.com/gonaturalistic/" class="text-muted" target="_blank"><i class="text-muted fa fa-lg fa-pinterest fa-fw"></i></a>
        <a href="#" class="text-muted" target="_blank"><i class="text-muted fa fa-lg fa-youtube fa-fw"></i></a>
      </p>
      <p class="text-center text-muted">
        <span class="glyphicon glyphicon-leaf" style="font-size: 10px; margin-right: 1px;" ></span>GoNaturalistic
        <span class="glyphicon glyphicon-copyright-mark" style="font-size:11px;margin-right: 2px;" ></span>2014 | <a href="http://www.gocode.me" class="text-muted" title="coded by GoCode.me"><i class="fa fa-bug fa-fw"></i>GoCode.me</a>
      </p>
  </div>
</footer>
