{% extends 'home/defaultBasePage.html' %}{% load staticfiles %}
{% block meta_title %}GoNaturalistic - Professionals{% endblock %}
{% block meta_description %}GoNaturalistic - Professionals{% endblock %}
{% block page_content %}
<div class="container" style="max-width:800px;">
 <div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12"  style="padding-left: 5px;padding-right: 5px;">
    <div class="panel panel-default" style="margin-bottom: 10px">
      <div class="panel-heading">
        <strong>Professionals</strong>
        <div class="pull-right">
          <div class="dropdown">
            <a data-toggle="dropdown" href="#" class="text-muted">
              <i class="fa fa-cog fa-fw" data-toggle="tooltip" data-placement="bottom" title="<strong>Settings</strong>"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="articlePageConf">
              <li class="dropdown-header" style="font-size:12px;">Per Page</li>
              <li style="font-size:12px;"><a href="{% url 'professionals:index' %}?perPage=5">Show 5</a></li>
              <li style="font-size:12px;"><a href="{% url 'professionals:index' %}?perPage=10">Show 10</a></li>
              <li style="font-size:12px;"><a href="{% url 'professionals:index' %}?perPage=20">Show 20</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel-body" style="padding: 0px;">
        <div class="list-group" style=" margin-bottom: 0px;">
          {% for professional in professional_list %}
          <a href="{% url 'professionals:professionalPage' professional.slug %}" class="list-group-item" style=" padding: 10px; border: none; border-top: 1px solid #ddd" >
          <div class="media">
            <img class="img-rounded pull-left" src="{% static 'img' %}{% url 'professionals:index' %}{{professional.professional_small_picture_url}}" alt="{{ professional.professional_full_name }}">
            <div class="media-body">
              <h4 class="media-heading" style="margin-bottom: 2px;">{{ professional.professional_full_name }}</h4>
              <p style="font-size: 12px; margin-left: 2px;">{{ professional.professional_main_page_meta_description|truncatechars:140 }}</p>
            </div>
          </div>
          </a>
          {% empty %}
          <p class="list-group-item">There are no Professionals.</p>
          {% endfor %}
        </div>
        <div class="panel-footer text-center">
        <ul class="pager" style="margin:0px;">
          {% if page_obj.has_previous %}
          <li style="margin-right:4px;"><a href="{% url 'articles:index' %}?page={{ page_obj.previous_page_number }}&amp;perPage={{page_obj.paginator.per_page}}&sortBy={{sortBy}}">Previous</a></li>
          {% else %}
          <li class="disabled" style="margin-right:4px;"><a href="#">Previous</a></li>
          {% endif %}
          {% if page_obj.has_next %}
          <li><a href="{% url 'articles:index' %}?page={{ page_obj.next_page_number }}&perPage={{page_obj.paginator.per_page}}&amp;sortBy={{sortBy}}">Next</a></li>
          {% else %}
          <li class="disabled"><a href="#">Next</a></li>
          {% endif %}
        </ul>
        </div>
      </div>
    </div>
  </div>

 </div>
</div>
{% endblock %}
{% block pageJs %}
{% if not user.is_authenticated %}
{% include 'users/userLoginFunc.js' %}
{% endif %}
$(".fa-cog").tooltip({animation:false, container: 'body', html:true});
{% endblock %}
